.fluxedMode {
  position: fixed;
  top: 80px;
  right: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  background-color: #3e3e3e;
  color: #f5f0e8;
  font-size: 24px;
  font-weight: 470;
  font-family: "Instrument Serif", sans-serif;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: lowercase;
  transition: all 0.3s ease;
}

.fluxedMode.active {
  background-color: #9df9e5;
  color: #3e3e3e;
}

.fluxedMode:hover {
  transform: scale(1.03);
}

body {
  transition: background 0.8s ease;
}

body.classic-mode {
  background: linear-gradient(
    90deg,
    #fffcee 0%,
    #dffbef 18%,
    #9df9e5 50%,
    #dffbef 82%,
    #fffcee 100%
  );
}
