.contact-hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 40px;
}

.contact-title-wrap {
  max-width: 100%;
}

.contact-title {
  margin: 0;
  font-family: "Instrument Serif", serif;
  font-size: 90px;
  font-weight: 400;
  line-height: 100%;
  color: #3e3e3e;
}

.contact-content {
  display: flex;
  align-items: flex-start;
  gap: 80px;
}

.contact-label {
  margin: 0 0 10px;
  font-family: "Geist Mono", monospace;
  font-size: 14px;
  font-weight: 572;
  color: #3e3e3e;
}

.contact-form-block p {
  margin-bottom: 18px;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 430px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  border: 1.5px solid #4b4b4f;
  background: transparent;
  border-radius: 999px;
  padding: 18px 24px;
  font-size: 24px;
  font-family: "Instrument Serif", serif;
  color: #3e3e3e;
  outline: none;
}

.contact-form textarea {
  border-radius: 34px;
  height: 70px;
  resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #8a857f;
}

.contact-send-btn,
.contact-calendar-btn {
  border: none;
  background: #3e3e3e;
  color: #fffcee;
  border-radius: 999px;
  padding: 16px 34px;
  font-family: "Instrument Serif", serif;
  font-size: 24px;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.contact-send-btn {
  width: 100%;
}

.contact-calendar-btn {
  width: 160px;
}

.contact-send-btn:hover,
.contact-calendar-btn:hover {
  transform: translateY(-2px);
  opacity: 0.92;
}

.contact-info-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 340px; */
  gap: 83.5px;
}

.contact-info-item {
  display: flex;
  flex-direction: column;
  font-family: "Geist Mono", monospace;
  font-size: 14px;
  font-weight: 572;
  color: #3e3e3e;
}

.contact-email {
  text-decoration: none;
  color: #fc60a8;
  font-size: 24px;
  font-weight: 470;
  font-family: "Geist Mono", monospace;
}

.contact-phone {
  text-decoration: none;
  color: #3e3e3e;
  font-size: 24px;
  font-family: "Geist Mono", monospace;
  font-weight: 470;
}

.contact-email:hover,
.contact-phone:hover {
  opacity: 0.8;
}
