.footer {
  padding: 0px 0 0 0;
}

/* container */

.footer-container {
  margin-top: 40px;
  padding: 60px 60px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid #ddd;
}

/* .container.footer-container {
  margin-top: 40px 0 0 0;
  border-top: 1px solid black;
} */
/* left */

.footer-left {
  display: flex;
  gap: 18px;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;

  transform-origin: center;
  transition: transform 0.9s ease;
}

.footer-logo:hover {
  transform: rotate(360deg);
}

.footer-agency {
  display: flex;
  flex-direction: column;
  font-family: "Geist Mono", monospace;
  font-size: 14px;
  font-weight: 572;
  color: #3e3e3e;
}

.agency-year {
  margin-top: 20px;
}

/* right */

.footer-right {
  display: flex;
  gap: 120px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-title {
  font-family: "Geist Mono", monospace;
  font-size: 14px;
  font-weight: 572;
  color: #3e3e3e;
  margin-bottom: 4px;
}

/* links */

.footer-column a {
  font-family: "Instrument Sans", sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #3e3e3e;
  font-weight: 400;
  margin-bottom: -8px;
}

.footer-column a:hover {
  text-decoration: underline;
}

/* socials grid */

.footer-socials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px 24px;
}

/* gradient */

.footer-gradient {
  height: 70px;

  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #ff6fa2 100%
  );
}
